.popup__form-items_type_auth {
  padding: 0;
}

@media (max-width: 510px) {
  .popup__form-items_type_auth {
    min-width: 260px;
    /*font-size: 20px;
      line-height: 24px;*/
    padding-top: 40px;
  }
}