.page {
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  max-width: 1280px;
  background-color: #000000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
