.popup__input_type_register {
    color: #ffffff;
    border-bottom: 2px solid rgb(204, 204, 204);
    padding: 0 0 6px 0;
}

@media (max-width: 510px) {
    .popup__input_type_register {
      min-width: 260px;
    }
  }