.rectangle__image {
  min-width: 282px;
  max-height: 282px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -o-object-position: 0% 20%;
  object-position: 0% 20%;
}

@media (max-height: 618px) {
  .rectangle__image {
    min-height: 50vh;
  }
}
