/*.header__dropbutton{
  display: none;
}*/


@media (max-width: 320px) {
.header__dropbutton{
    display: block;
    width: 24px;
    height: 21px;
    background-color: transparent;
    border: none;
    background-image: url('../../../images/buttons/Group\ 5.svg');
}

.header__dropbutton:hover{
  opacity: .6;
}

}
