@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/root/root.css);
@import url(./blocks/root/__section/root__section.css);
@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__nav/header__nav.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__dropbutton/header__dropbutton.css);
@import url(./blocks/header/__nav-content/header__nav-content.css);
@import url(./blocks/header/__dropbtnclose/header__dropbtnclose.css);
@import url(./blocks/header/__dropdown/header__dropdown.css);


@import url(./blocks/main/main.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__wrapper/profile__wrapper.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__add-btn/profile__add-btn.css);
@import url(./blocks/profile/__avatar-btn/profile__avatar-btn.css);

@import url(./blocks/content/content.css);

@import url(./blocks/photo-grid/prhoto-grid.css);
@import url(./blocks/rectangle/rectangle.css);
@import url(./blocks/rectangle/__title/rectangle__title.css);
@import url(./blocks/rectangle/__text/rectangle__text.css);
@import url(./blocks/rectangle/__button/rectangle__button.css);
@import url(./blocks/rectangle/__button/_active/rectangle__button_active.css);
@import url(./blocks/rectangle/__button-trash/rectangle__button-trash.css);
@import url(./blocks/rectangle/__button-trash/_active/rectangle__button-trash_active.css);
@import url(./blocks/rectangle/__image/rectangle__image.css);
@import url(./blocks/rectangle/__group-like/rectangle__group-like.css);
@import url(./blocks/rectangle/__count-likes/rectangle__count-likes.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__author/footer__author.css);


@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__submit-btn/popup__submit-btn.css);
@import url(./blocks/popup/__submit-btn/_type_confirmation/popup__submit-btn_type_confirmation.css);

@import url(./blocks/popup/__main-illustration/popup__main-illustration.css);
@import url(./blocks/popup/__image-place/popup__image-place.css);
@import url(./blocks/popup/__caption/popup__captiom.css);
@import url(./blocks/popup/_type_open-image/popup_type_open-image.css);
@import url(./blocks/popup/__input/_invalid/popup__input_invalid.css);
@import url(./blocks/popup/__input/_type_error/popup__input_type_error.css);
@import url(./blocks/popup/__input-error_active/popup__input-error_active.css);
@import url(./blocks/popup/__submit-btn/_inactive/popup__submit-btn_inactive.css);
@import url(./blocks/popup/__form-items/popup__form-items.css);
@import url(./blocks/popup/__form-item/popup__form-item.css);


@import url(./blocks/popup/__container/_type_register/popup__container_type_register.css);
@import url(./blocks/popup/__title/_type_register/popup__title_type_register.css);
@import url(./blocks/popup/__form-items/_type_register/popup__form-items_type_register.css);
@import url(./blocks/popup/__submit-btn/_type_register/popup__submit-btn_type_register.css);
@import url(./blocks/popup/__question/popup__question.css);
@import url(./blocks/popup/__form-item/_type_register/popup__form-item_type_register.css);
@import url(./blocks/popup/__input/_type_register/popup__input_type_register.css);


@import url(./blocks/popup/__container/_type_auth/popup__container_type_auth.css);
@import url(./blocks/popup/__title/_type_auth/popup__title_type_auth.css);
@import url(./blocks/popup/__form-items/_type_auth/popup__form-items_type_auth.css);
@import url(./blocks/popup/__submit-btn/_type_auth/popup__submit-btn_type_auth.css);
@import url(./blocks/popup/__form-item/_type_auth/popup__form-item_type_auth.css);
@import url(./blocks/popup/__input/_type_auth/popup__input_type_auth.css);
@import url(./blocks/popup/__input/_type_register/popup__input_type_register.css);

@import url(./blocks/loginContainer/loginComtainer.css);
@import url(./blocks/registerContainer/registerContainer.css);

@import url(./blocks/popup/_type_auth/popup_type_auth.css);
@import url(./blocks/popup/_type_register/popup_type_register.css);

@import url(./blocks/popup/__title/_type_union/popup__title_type_union.css);
@import url(./blocks/popup/__image-union/popup__image-union.css);
@import url(./blocks/popup/__form/_type_union/popup__form_type_union.css);

@import url(./blocks/not-found/not-found.css);
@import url(./blocks/not-found/__title/not-found__title.css);
@import url(./blocks/not-found/__button/not-found__button.css);