.header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 880px;
  min-height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 45px;
  border-bottom: 1px solid rgba(33%, 33%, 33%, .7);
  /*position: relative;*/
}

@media (max-width: 320px) {
  .header {
    max-width: 320px;
    min-height: 56px;
    padding-top: 28px;
  }
}
